@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Добавление файла";
}
<h3>Выберите файл для загрузки</h3>
<form asp-action="Create" asp-controller="Home" method="POST" enctype="multipart/form-data">
    <input type="file" name="Img" /><br>
    <input type="submit" value="Загрузить" /><br>
    <input type="checkbox" id="potato" name="isPotato" checked>
    <label for="potato">Potato</label>
</form>
